@import "src/_vars";
@import "src/_mixins";

.navbar {
  .burger {
    display: none;
    padding-right: 20px;
  }
  height: 60px;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $white;
  .navbar-brand {
    padding-left: 30px;
  }
  .nav-item:last-child {
    padding-right: 20px;
  }
  .navbar-nav {
    .nav-item {
      margin-left: 10px;
      .nav-link {
        font-size: 14px;
        color: $black;
        font-weight: 400;
        &:hover {
          transition: color ease-in-out 0.3s;
          color: $red;
        }
        &.active {
          color: $active;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .burger {
      display: block;
    }
    .navbar-nav {
      display: none;
    }
  }
}

@media screen and (max-width: 550px) {
  .navbar {
    height: 40px;
    padding: 0;
    .navbar-brand {
      padding-left: 10px;
    }
    .burger {
      padding-right: 10px;
    }
  }
}
